<h1>Edit Artist Name:</h1>

<%=form_for @artist do |a| %>
    <%= a.label :name %>
    <%= a.text_field :name %><br>

    <%= a.label :bio %>
    <%= a.text_area :bio %><br>

    <%= a.submit %><br>
<% end %>